<!-- <div class="mx-20 py-8" id="contenedor">
    <div class="flex justify-center" id="logo">
        <span class="hidden" id="menu">
            <mat-icon>menu</mat-icon>
        </span>
        <img src="./../../../../assets/images/logo.png" alt="logo" width="215px" height="66px">
    </div>
    <div class="flex flex-row" id="sub-contenedor">
        <div class="bg-white w-2/3 mr-5 rounded-lg" id="owner">
            <div class="mx-6 my-3 flex align-items-center">
                <mat-progress-bar color="primary" mode="determinate" value="50"></mat-progress-bar>
            </div>
            <div class="flex flex-col mx-20">
                <div class="mx-auto">
                    <h1 class="text-3xl font-medium text-primary text-center my-5">Medio de Pago
                    </h1>
                    <button mat-raised-button>
                        <mat-icon>credit_card</mat-icon>Pago con tarjeta
                    </button>
                    <button mat-raised-button>Pago con PSE</button>
                </div>
                <div class="mx-auto w-full" [formGroup]="form">
                    <div class="">
                        <p class="text-xs">Número de tarjeta</p>
                        <mat-form-field appearance="outline" class="w-6/12">
                            <input formControlName="card" matInput placeholder="Ingresa tus nombres">
                            <mat-error align="left" *ngIf="form.dirty">Ingrese sus datos completos</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-row mb-8">
                     
                        <p class="">
                            <span class="text-xs">CVV</span>
                            <mat-form-field appearance="outline" >
                                <input formControlName="cvv" matInput placeholder="Ingresa tus apellidos">
                                <mat-error align="left" *ngIf="form.dirty">Ingrese sus datos completos</mat-error>
                            </mat-form-field>
                        </p>
                        <p class="">
                            <span class="text-xs">Fecha de vencimiento</span>
                            <mat-form-field appearance="outline" >
                                <input formControlName="date" matInput placeholder="Ingresa tus apellidos">
                                <mat-error align="left" *ngIf="form.dirty">Ingrese sus datos completos</mat-error>
                            </mat-form-field>
                        </p>
                        <p class="">
                            <span class="text-xs">Cuotas</span>
                            <mat-form-field appearance="outline" >
                                <input formControlName="share" matInput maxlength="10"
                                    placeholder="Ingresa tu número de documento">
                                <mat-error align="left" *ngIf="form.dirty">Ingrese solo números</mat-error>
                            </mat-form-field>
                        </p>
                    </div>
                </div>
                <div class="mx-auto mt-16">
                    <app-generic-buttons></app-generic-buttons>
                </div>
            </div>
        </div>
        <div class="bg-white w-1/3 rounded-lg" id="product">
            <app-product-detail></app-product-detail>
        </div>
    </div>
    <div class="hidden flex justify-center mx-auto" id="btn-mobile">
        <app-generic-buttons></app-generic-buttons>
    </div>
</div> -->
<div>
    <p>Web en proceso de construcción</p>
</div>
<div class="mx-auto mt-16">
    <div class="flex flex-row">
        <p class="mr-5">
            <button routerLink="/" class="basic bg-primary mr-5" mat-raised-button>Cancelar</button>
        </p>
        <p>
            <button routerLink="/card-payment" class="basic gradient" mat-raised-button>Continuar</button>
        </p>
    </div>
</div>