.items th{
    color: #7B7B7B;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    padding-bottom: 5px;
}

.items td{
    color: #252525;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-align: right;
    margin-bottom: 5px;
}

.text-red{
    color: #CC0000 !important;
}

.mat-progress-bar{
    height: 10px;
    border-radius: 5px;
}