<div class="m-8 text-center">
    <div class="hidden mb-6 flex align-items-center" id="progress-bar">
        <mat-progress-bar color="primary" mode="determinate" value="5"></mat-progress-bar>
    </div>
    <p class="font-medium text-primary mb-3">Información del Comercio</p>
    <p class="text-gray-600 font-normal pb-8 text-sm">Zapatos de colombia S.A</p>
    <mat-divider></mat-divider>
    <div class="py-3 items">
        <p class="font-medium text-primary mb-3">Información Transacción</p>
        <table class="text-left w-full">
            <tr>
                <th>Numero de Factura</th>
                <td>12253363323</td>
            </tr>
            <tr>
                <th>Consecutivo</th>
                <td>85955656</td>
            </tr>
        </table>
    </div>
    <mat-divider></mat-divider>
    <div class="py-3 items">
        <p class="font-medium text-primary mb-3">Total de Costos Adicionales</p>
        <table class="text-left w-full">
            <tr>
                <th>Tarifa Admin</th>
                <td>$ 90.00</td>
            </tr>
            <tr>
                <th>Monto Adicional</th>
                <td>$ 90.00</td>
            </tr>
            <tr>
                <th>Propina</th>
                <td>$ 5.00</td>
            </tr>
        </table>
    </div>
    <mat-divider></mat-divider>
    <div class="py-3 items">
        <p class="font-medium text-primary mb-3">Total de Impuestos</p>
        <table class="text-left w-full">
            <tr>
                <th>IVA</th>
                <td>$ 100.00</td>
            </tr>
            <tr>
                <th>Impuesto al Consumo</th>
                <td>$ 100.00</td>
            </tr>
        </table>
    </div>
    <mat-divider></mat-divider>
    <div class="py-3 items">
        <p class="font-medium text-primary mb-3">Total de Descuentos</p>
        <table class="text-left w-full">
            <tr>
                <th>Total de Costos</th>
                <td class="text-red">-$ 20.00</td>
            </tr>
        </table>
    </div>
    <mat-divider></mat-divider>
    <table class="text-left w-full my-16">
        <tr>
            <th class="text-primary text-sm font-bold">TOTAL</th>
            <td class="text-primary text-2xl font-light text-right">$ 80.00</td>
        </tr>
    </table>
</div>
