<div class="w-full flex flex-col">
    <div class="flex justify-center" id="logo">
        <span class="hidden" id="menu">
            <mat-icon>menu</mat-icon>
        </span>
        <img src="./../../../../assets/images/logo.png" alt="logo" width="215px" height="66px">
    </div>
    <div class="bg-white w-10/12 rounded-lg mx-auto mb-12 pb-20 mb-20">
        <div class="mx-20" id="contenedor">
            <div class="mx-6 pb-3 pt-8 flex align-items-center">
                <mat-progress-bar color="primary" mode="determinate" value="100"></mat-progress-bar>
            </div>
            <div class="mx-6">
                <div class="bg-green-300 rounded-lg flex flex-row py-1 mt-8">
                    <p class="text-center leading-4 font-bold text-gray-600 mx-auto w-10/12 my-auto">Transacción
                        aprobada
                    </p>
                    <mat-icon class="text-right mr-8 text-green-400">done</mat-icon>
                </div>
                <div class="mx-auto pb-12">
                    <div class="bg-gray-50 rounded-lg my-5 py-4">
                        <table>
                            <tr class="text-gray-300 font-light">
                                <th>Consecutivo</th>
                                <th>Numero de Factura</th>
                                <th>Número Aprobación</th>
                                <th>Fecha Trx</th>
                                <th>Hora Trx</th>
                            </tr>
                            <tr>
                                <td>85955656</td>
                                <td>12253363323</td>
                                <td>85462655</td>
                                <td>12/15/18</td>
                                <td>12/15/18</td>
                            </tr>
                        </table>
                    </div>
                    <div class="hidden mt-2 pt-2 ">
                        <table class="mx-auto text-left">
                            <tr>
                                <th>Consecutivo</th>
                                <td>85955656</td>
                            </tr>
                            <tr>
                                <th>Numero de Factura</th>
                                <td>12253363323 </td>
                            </tr>
                            <tr>
                                <th>Número Aprobación</th>
                                <td>85462655</td>
                            </tr>
                            <tr>
                                <th>Fecha Trx</th>
                                <td>12/15/18</td>
                            </tr>
                            <tr>
                                <th>Hora Trx</th>
                                <td>15:03</td>
                            </tr>
                        </table>
                    </div>
                    <div class="mb-5 mt-10 w-11/12 mx-auto">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <!-- Self aware panel -->
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <p class="ml-32">Información personal</p>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="text-left w-full">
                                    <table class="mx-auto table-panel">
                                        <tr>
                                            <th>Nombre</th>
                                            <td>Alfredo</td>
                                        </tr>
                                        <tr>
                                            <th>Apellido</th>
                                            <td>Gutierres Lozano</td>
                                        </tr>
                                        <tr>
                                            <th>Tipo de documento</th>
                                            <td>CC</td>
                                        </tr>
                                        <tr>
                                            <th>Documento</th>
                                            <td>985265656363262 </td>
                                        </tr>
                                    </table>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div class="mb-5 w-11/12 mx-auto">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <!-- Self aware panel -->
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <p class="ml-32">Información medio de pago/Tarjeta</p>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="text-left w-full">
                                    <table class="mx-auto table-panel">
                                        <tr>
                                            <th>Tipo de tarjeta</th>
                                            <td>Visa</td>
                                        </tr>
                                        <tr>
                                            <th>Franquicia</th>
                                            <td>Visa Land</td>
                                        </tr>
                                        <tr>
                                            <th>Bin</th>
                                            <td>65663</td>
                                        </tr>
                                        <tr>
                                            <th>4 Ultimos digitos</th>
                                            <td>**********1123 </td>
                                        </tr>
                                        <tr>
                                            <th>Cuotas</th>
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <th>Bolsillo</th>
                                            <td>8966</td>
                                        </tr>
                                    </table>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div class="mb-5 w-11/12 mx-auto">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <!-- Self aware panel -->
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <p class="ml-32">Información comercio</p>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="text-left w-full">
                                    <table class="mx-auto table-panel">
                                        <tr>
                                            <th>Factura</th>
                                            <td>Visa</td>
                                        </tr>
                                        <tr>
                                            <th>Monto neto</th>
                                            <td>$ 100.000</td>
                                        </tr>
                                        <tr>
                                            <th>Impuestos</th>
                                            <td>$ 4.00</td>
                                        </tr>
                                        <tr>
                                            <th>Montos adicionales</th>
                                            <td>$ 16.36 </td>
                                        </tr>
                                        <tr>
                                            <th>Descuentos</th>
                                            <td>-$ 30.020 </td>
                                        </tr>
                                        <tr class="boldy">
                                            <th>Monto total</th>
                                            <td>$ 63.80 </td>
                                        </tr>
                                    </table>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div class=" w-11/12 mx-auto">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <!-- Self aware panel -->
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <p class="ml-32">Información personal</p>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="text-left text-gray-300 w-full">
                                    <table class="mx-auto table-panel">
                                        <tr class="boldy">
                                            <th>Detalle comercio</th>
                                            <td>Implus</td>
                                        </tr>
                                        <tr>
                                            <th>CU</th>
                                            <td>523566</td>
                                        </tr>
                                        <tr>
                                            <th>Terminal</th>
                                            <td>ACCDB2</td>
                                        </tr>
                                    </table>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <div class="flex flex-row w-full mb-8" id="section-mobile">
                    <mat-form-field appearance="outline" class="w-5/12 mx-11 text-sm" id="btn-send">
                        <input matInput placeholder="Escriba aquí su correo electrónico">
                        <button class="send" matSuffix mat-button>ENVIAR<mat-icon class="inline">send</mat-icon>
                        </button>
                    </mat-form-field>
                    <button class="bg-primary-600 text-white text-center w-5/12 h-10 btn-btn" id="btn-cloud" mat-raised-button>
                        Descargar comprobante de pago <mat-icon class="ml-3">cloud_download</mat-icon>
                    </button>
                </div>
                <div class="mb-12 w-full">
                    <p class="text-center">
                        <button id="btn-end" class="w-6/12 btn-btn gradient mx-auto text-white h-10"
                            mat-raised-button>Finalizar</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>