.mat-progress-bar{
    height: 10px;
    border-radius: 5px;
}

::ng-deep .mat-progress-bar-buffer{
    background-color: #ECECEC !important;
}

th, td{
    padding-inline: 43px;
    font-size: 12px;
    font-weight: 300;
}

.table-panel th, .table-panel td{
    color: #7B7B7B;
}

.boldy th, .boldy td{
    color: #000000;
}

.send{
    position: absolute;
    bottom: -12px;
    right: -5px;
    height: 40.5px;
    background-color: #FE502F;
    color: #FFFFFF;
    border-radius: 12px;
}

::ng-deep #section-mobile .mat-form-field-appearance-outline {
    .mat-form-field-wrapper{
    margin-top: 0px !important;
    }
    .mat-form-field-infix{
        padding: .82em 0em .82em 0 !important;
    }
    .mat-form-field-flex{
        padding: 0em 0em 0em .75em !important;
        background-color: #EBEBEB;
        border-radius: 8px;
    }
    .mat-form-field-outline-thick {
        color: #D7D7D7 !important;
    }
    .mat-form-field-outline{
        top: .0em !important;
    }
}

::ng-deep .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon{
    display: inline !important;
    margin-left: 5px;
}

::ng-deep .mat-form-field-infix {
    border-top: 0em !important
}

.mat-focused {
    outline: none !important;
}

// BREAKPOINTS
@media (min-width: 360px) and (max-width: 640px){
    #logo{
        background-color: #FFFFFF;
        margin-bottom: 12px;
        padding-right: 40px;
    }

    #menu{
        display: flex;
        margin-right: 50px;
        margin-left: 12px;
        margin-top: 20px;
      }

      .bg-white{
          width: 95%;
          margin-bottom: 10px;
          margin-inline: 10px;
      }

      #contenedor{
          margin-inline: 0px;
      }

      .bg-gray-50{
          display: none;
      }

      .hidden{
          display: block;

      }

      .hidden th {
        @apply text-gray-300 font-light;
        padding-inline: 0px;
        padding-left: 5px;
        padding-right: 72px;
        padding-bottom: 3px;
      }

      .hidden td {
          padding-inline: 0px;
        padding-right: 5px;
        padding-bottom: 3px;
    }

    .mat-expansion-panel p{
        margin-left: 0px;
    }

    .table-panel th {
        padding-inline: 0px;
        padding-left: 5px;
    }

    .table-panel td{
        color: #000000;
    }

      #section-mobile{
          display: flex;
          flex-direction: column;
      }

      #btn-send{
          width: 100%;
          margin-inline: 0px;
      }

      #btn-cloud{
          width: 100%;
          margin-bottom: 3rem;
      }

      #btn-end{
          width: 90%;
      }
}