<div class="bg-white w-full mr-5 rounded-lg" id="owner">
    <div class="mx-6 my-3 flex align-items-center progresss-bar">
        <mat-progress-bar color="primary" mode="determinate" value="5"></mat-progress-bar>
    </div>
    <div class="flex flex-col mx-20 form">
        <div class="mx-auto">
            <h1 class="text-3xl font-medium text-primary text-center my-5">Información del titular de la compra
            </h1>
            <p class="text-center text-xs leading-5 text-gray-200 mb-16 w-9/12 mx-auto">Amet minim mollit non
                deserunt ullamco est sit aliqua dolor do amet
                sint. Velit officia
                consequat duis enim velit mollit. </p>
        </div>
        <div class="mx-auto w-full" [formGroup]="form">
            <div class="flex flex-row form w-9/12 mx-auto mobiles">
                <mat-form-field appearance="outline" class="w-6/12 mr-5 mobile">
                    <mat-label>Nombres</mat-label>
                    <input formControlName="name" matInput maxlength="30" placeholder="Ingresa tus nombres">
                    <mat-error align="left" *ngIf="form.dirty">Ingrese sus datos completos</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-6/12 mobile">
                    <mat-label>Appelidos</mat-label>
                    <input formControlName="surname" matInput maxlength="30" placeholder="Ingresa tus apellidos">
                    <mat-error align="left" *ngIf="form.dirty">Ingrese sus datos completos</mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-row mb-8">
                <p class="text-center mx-auto">
                    <span class="block text-left ml-12 text-xs">Tipo de documento</span>
                    <mat-form-field appearance="outline" class="w-3/12 mr-5">
                        <mat-label>CC</mat-label>
                        <mat-select>
                            <mat-option value="CC">CC</mat-option>
                            <mat-option value="TI">TI</mat-option>
                            <mat-option value="CE">CE</mat-option>
                            <mat-option value="NIT">NIT</mat-option>
                            <mat-option value="PS">PS</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-6/12">
                        <mat-label>Número de documento</mat-label>
                        <input formControlName="doc" matInput maxlength="10"
                            placeholder="Ingresa tu número de documento">
                        <mat-error align="left" *ngIf="form.dirty">Ingrese solo números</mat-error>
                    </mat-form-field>
                </p>
            </div>
            <p class="text-center check">
                <mat-checkbox color="warn">Acepta terminos y condiciones</mat-checkbox>
            </p>
        </div>
        <div class="mx-auto mt-16" id="btn-destok">
            <div class="flex flex-row">
                <p class="mr-5">
                    <button class="basic bg-primary mr-5" mat-raised-button>Cancelar</button>
                </p>
                <p>
                    <button routerLink="/payment" class="basic gradient" mat-raised-button>Continuar</button>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="hidden flex justify-center mx-auto absolute pb-8 w-11/12" id="btn-mobile">
    <div class="flex flex-row">
        <p class="mr-5">
            <button routerLink="/" class="basic bg-primary mr-5" mat-raised-button>Volver</button>
        </p>
        <p>
            <button routerLink="/owner-information" class="basic gradient" mat-raised-button>Continuar</button>
        </p>
    </div>
</div>